.contenedor1{
    text-align: center;
}
.contenedor2{
    text-align: center;
}
.contenedor3{
    text-align: center; 
}
.contenedor4{
    text-align: center;
}
body {
    background-color: #FAF782;
}